body{
  background-color: black;
}

h2{
  display:block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 18px;
font-weight: lighter;

padding-left: 3%;
text-align: left;
color:black;

}

h1{
    display:block;
    font-family:canela ;
  font-weight: 50;

padding-top: 3%;
padding-left: 3%;
  font-size: 30px;
 text-align: left;
color:rgb(92, 92, 221);
}
h5{
    display:block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  font-weight: 200;
  line-height: 32px;
  
  padding-bottom: 0px;
  text-align: left;
  color:rgb(165, 165, 239);
  
  }

  .flex-container{
    display: flex;
padding: 1%;


justify-content: space-evenly;

    flex-direction: row;

   
   
}
.flex-container2{
  display: flex;
filter: invert(1);
padding: 1%;
justify-content: space-evenly;

  flex-direction: row;

 
 
}
.flex-container1{
  display: flex;
background-color: black;
justify-content: center;

  flex-direction: row;

 
 
}
.flex-container>div{
margin: 0px;
padding: 2%;
}
video{
padding: 4%;
}
footer{
    background-color:white;
    display: flex;
  
    flex-direction: row;
  }
  footer>div{
    padding: 1%;
  }
  .hoverbtn:hover{
    background-color: rgba(66, 157, 237, 0.312);
  } 
  .hoverbtn1:hover{
    background-color: rgba(66, 157, 237, 0.312);
  } 
  @font-face {
    font-family: canela;
    src: url(canela.ttf);
    

  }

  @media screen and (max-width: 1200px) {
    .flex-container1 {
      flex: wrap;
    }
    .flex-container2 {
     flex:wrap;
    }
    .flex-container {
      flex:wrap;
     }
  .responsive {
    width: 100%;
    height: auto;
  }

  }
  @media screen and (max-width: 1000px) {
    .flex-container1 {
      flex-direction: column;
    }
    .flex-container {
      flex-direction: column;
    }
    .flex-container2 {
      flex-direction: column;
    }
  
  .responsive {
    width: 100%;
    height: auto;
  }
  .responsive2 {
    width: 70%;
    height: auto;
  }
  .ind{
    height: 50px;
    }
    

}